<div id="prueba-component">
  <h1>"Y yo soy el componente de prueba"</h1>
  <!-- Usos simples -->
<h2>Ejemplos de usos simples de expresiones y pipes</h2>
<div>
  <ul>
    <!-- Computar una suma-->
    <li>{{5 + 5}}</li>
    
    <!-- Concatenar varibales-->
    <li>{{fruta + " " + verdura}}</li>
    
    <!-- Mostrar propiedades de un objeto -->
    <li>
      la ciudad de {{ciudad.nombre}} tiene {{ciudad.poblacion}} habitantes
    </li>

    <!-- Formatear salidas  -->
    <li>{{ pi | number:'1.1-2'}}</li>

    <!-- Acceder metódos -->
    <li>Fruta tiene: {{fruta.length}} letras</li>

    <!-- Llamar a funciones del controlador -->
    <li>{{helloWorld()}}</li>
  </ul>
</div>
<h2>Uso de la directiva *ngIf </h2>
<div>
  <p>La el valor de identidad_secreta es: <b>{{revelar_identidad}}</b></p>
  <button (click)="revelarIdentidad()">Revelar</button>
  <p>entonces Ironman es <span *ngIf="revelar_identidad">{{ironman}}</span></p>
  <div *ngIf="revelar_identidad;then no_secreto else secreto"></div>
  <ng-template #secreto><p>¿Quien es IronMan?...</p></ng-template>
  <ng-template #no_secreto><p>{{ironman}}</p></ng-template>

  <h2>Uso de *ngFor con *ngSwitch</h2>
  <p>Las armaduras usadas por IronMan son:</p>
  <ul [ngSwitch]="usar">
    <li *ngFor="let armadura of armaduras">
      {{armadura}} <b *ngSwitchCase="1"></b>
    </li>
  </ul>

  <h2>Uso de *ngSwitch con *ngSwitch</h2>
  <ul [ngSwitch]="superhero">
    <li *ngSwitchCase="'Groot'">Groot</li>
    <li *ngSwitchCase="'Ironman'">Ironman</li>
    <li *ngSwitchCase="'Hulk'">Hulk</li>
    <li *ngSwitchCase="'Thor'">Thor</li>
    <li *ngSwitchCase="'Spiderman'">Spiderman</li>
    <li *ngSwitchDefault>Batman</li>
  </ul>

</div>
<h2>Formlario con binding</h2>
<!--
  Probá de escribir valores dentro de los campos inputs.

  En el caso [(ngModel)]="nombre", se asigna como doble binding
  
  En el caso [ngModel]="telefono", se asigna como valor del input, pero no con el doble binding

  En el caso del DNI se obtiene el doble binding usando el método ngModelChange
-->
<div>
  <div>
    <div>
      Nombre:
      <input 
        placeholder="Ingrese su nombre" 
        type="text" 
        [(ngModel)]="nombre" />
    </div>
    <br />
    <div>
      Teléfono:
      <input
        placeholder="ingrese su telefono"
        type="number"
        [(ngModel)]="telefono"
      />
    </div>
    <br />
    <div>
      DNI:
      <input
        placeholder="ingrese su dni"
        type="number"
        [ngModel]="dni"
        (ngModelChange)="cambiaDni($event)"
      />
    </div>
  </div>
  <br />
  <div>
    Tú nombre es: <b>{{nombre}}</b> y tiene {{nombre.length}} <b>letras</b>,
    esto es mágia.
  </div>
  <br />
  <div>
    Tú telefono es: <b>{{telefono}}</b> y tiene {{telefono.length}}
    <b>digitos</b>.
  </div>
  <br />
  <div>Tú dni es: <b>{{dni}}</b></div>
  <br/>
  <div class="click"  (click)="onClick()">Haceme click!</div>
</div>

</div>

